


.keyBoard{


    max-width: 1085px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(5, 60px);
    grid-gap: 5px;
    
}

.key {
   

    background-color: rgb(243, 243, 243);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #000;
    border-radius: 5px;
    grid-column: span 2;
    font-size: 20px;
    text-align: center;
    padding-top: 17px;
}

.key:active {
    opacity: 0.5;
}

.key:hover {
    border: 1px solid #eeeeee;
    
}


.Backspace{
    grid-column: span 4;
}

.tab {
    grid-column: span 3;
}

.backslash {
    grid-column: span 3;
}

.capslock {
    grid-column: span 4;
}

.Enter{
    grid-column: span 4;
}

.leftshift {
    grid-column: span 5;
}

.rightshift {
    grid-column: span 5;
}

.leftctrl {
    grid-column: span 3;
}

.alt{
    grid-column: span 3;
    font-size: 14px;
}

.space {
    grid-column: span 13;
}